<template>
  <div class="">
    <div class="">
      <!-- Header -->
      <div class="bg-gray-200 ">
        <div class="flex items-center justify-center container mx-auto">
          <div class="flex-1">
            <NuxtLink href="#" to="/article" class="">
              Preview All
            </NuxtLink>
          </div>
          <div class="flex items-center justify-center border-x border-gray-300 divide-x divide-gray-300">
            <NuxtLink href="#" to="/article/draft" class="nav py-4 w-32 text-center block hover:bg-stone-300 hover:font-medium transition-all ease-in-out">
              Draft
            </NuxtLink>
            <NuxtLink href="#" to="/article/publish" class="nav py-4 w-32 text-center block hover:bg-stone-300 hover:font-medium transition-all ease-in-out">
              Publish
            </NuxtLink>
            <NuxtLink href="#" to="/article/trash" class="nav py-4 w-32 text-center block hover:bg-stone-300 hover:font-medium transition-all ease-in-out">
              Trash
            </NuxtLink>
          </div>
          <div class="flex-1 flex justify-end py-2">
            <NuxtLink href="#" to="/article/new" class="px-4 py-2 rounded-full bg-orange-500 text-white">
              Create Article
            </NuxtLink>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-auto container">
      <!-- Content -->
      <NuxtChild />
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexArticle'
}
</script>
