<template>
  <div class="mt-5">
    <div v-if="data && data.results.length>0" class=" divide-y divide-dashed">
      <div v-for="i,index in data.results" :key="index" class="py-5">
        <div class="space-y-3">
          <div class="">
            <div class="flex items-center">
              <div class="max-w-lg w-full text-2xl font-semibold tracking-tighter">
                {{ i.title }}
              </div>
            </div>
          </div>
          <article class="text-gray-700 whitespace-pre-line">
            {{ i.content }}
          </article>
          <div>
            <div class="mt-5">
              <span class="py-1 px-4 text-sm border border-black rounded-full">
                {{ i.category }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- Paginate -->
      <div class="flex items-center justify-center gap-6">
        <button :disabled="data.offset<1" class="text-xl font-light border-b border-transparent" :class="[data.offset<1 ? 'text-gray-400' : 'hover:border-gray-500 transition-all ease-in-out']" @click="goPage(-data.limit)">
          Prev
        </button>
        <button :disabled="data.offset/data.limit>=data.pages-1" class="text-xl font-light border-b border-transparent" :class="[data.offset/data.limit>=data.pages-1 ? 'text-gray-400' : 'hover:border-gray-500 transition-all ease-in-out']" @click="goPage(data.limit)">
          Next
        </button>
      </div>
    </div>
    <div v-else class="">
      <div class="flex items-center justify-center">
        <div class="text-center w-72 py-40 space-y-6">
          <div class="flex items-center justify-center">
            <img src="/empty.svg" alt="" class="w-40 opacity-60">
          </div>
          <div class="text-3xl font-extralight">
            No article publised
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'IndexArticle',
  data () {
    return {
      data: null,
      limit: 10,
      offset: 0
    }
  },
  async fetch () {
    this.data = await this.$axios.$get(`/article/${this.limit}/${this.offset}`, { params: { publish: true } })
  },
  methods: {
    async goPage (i) {
      this.offset = this.offset + i
      this.data = await this.$axios.$get(`/article/${this.limit}/${this.offset}`, { params: { publish: true } })
    }
  }
}
</script>
