<template>
  <div class="mt-5">
    <div class="flex items-center justify-center">
      <div class="max-w-lg w-full">
        <div class="text-center text-xl font-medium mb-5">
          Create Article
        </div>
        <form id="form" action="#" class="p-4 space-y-6" @submit.prevent="newPost">
          <div class="">
            <label for="">Title</label>
            <input v-model="form.title" required type="text" class="w-full mt-2 border rounded-xl px-4 py-3 outline-none focus:ring" placeholder="Title of article">
            <div v-if="error" class="text-sm font-light text-rose-600">
              <span v-for="i, index in error.detail" :key="index">
                <span v-if="i.loc[1]=='title'">* {{ i.msg }}</span>
              </span>
            </div>
          </div>
          <div class="">
            <label for="">Content</label>
            <textarea
              id=""
              v-model="form.content"
              required
              class="w-full mt-2 border rounded-xl px-4 py-3 outline-none focus:ring"
              name=""
              cols="30"
              rows="10"
              placeholder="Min 200 chars"
            />
            <div v-if="error" class="text-sm font-light text-rose-600">
              <span v-for="i, index in error.detail" :key="index">
                <span v-if="i.loc[1]=='content'">* {{ i.msg }}</span>
              </span>
            </div>
          </div>
          <div class="">
            <label for="">Category</label>
            <input v-model="form.category" required type="text" class="w-full mt-2 border rounded-xl px-4 py-3 outline-none focus:ring">
            <div v-if="error" class="text-sm font-light text-rose-600">
              <span v-for="i, index in error.detail" :key="index">
                <span v-if="i.loc[1]=='category'">* {{ i.msg }}</span>
              </span>
            </div>
          </div>
          <div class="flex items-center justify-end gap-4">
            <button form="form" type="submit" class="px-6 py-3 bg-gray-500 text-white rounded-2xl shadow" @click="draft">
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                  <path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 013.5 2h9A1.5 1.5 0 0114 3.5v11.75A2.75 2.75 0 0016.75 18h-12A2.75 2.75 0 012 15.25V3.5zm3.75 7a.75.75 0 000 1.5h4.5a.75.75 0 000-1.5h-4.5zm0 3a.75.75 0 000 1.5h4.5a.75.75 0 000-1.5h-4.5zM5 5.75A.75.75 0 015.75 5h4.5a.75.75 0 01.75.75v2.5a.75.75 0 01-.75.75h-4.5A.75.75 0 015 8.25v-2.5z" clip-rule="evenodd" />
                  <path d="M16.5 6.5h-1v8.75a1.25 1.25 0 102.5 0V8a1.5 1.5 0 00-1.5-1.5z" />
                </svg>
                <span>Draft</span>
              </div>
            </button>
            <button form="form" type="submit" class="px-6 py-3 bg-sky-500 text-white rounded-2xl shadow" @click="publish">
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 -rotate-45">
                  <path d="M3.105 2.289a.75.75 0 00-.826.95l1.414 4.925A1.5 1.5 0 005.135 9.25h6.115a.75.75 0 010 1.5H5.135a1.5 1.5 0 00-1.442 1.086l-1.414 4.926a.75.75 0 00.826.95 28.896 28.896 0 0015.293-7.154.75.75 0 000-1.115A28.897 28.897 0 003.105 2.289z" />
                </svg>
                <span>Publish</span>
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'IndexNewArticle',
  data () {
    return {
      form: {
        title: '',
        content: '',
        category: '',
        status: 'draft'
      },
      error: null
    }
  },
  methods: {
    async newPost () {
      this.error = null
      await this.$axios.$post(
        '/article/', this.form
      ).then((res) => {
        if (this.form.status === 'draft') {
          this.$router.push('/article/draft')
        } else {
          this.$router.push('/article/publish')
        }
      }).catch((err) => {
        console.log(err.response.data)
        this.error = err.response.data
      })
    },
    publish () {
      this.form.status = 'publish'
    },
    draft () {
      this.form.status = 'draft'
    }
  }
}
</script>
