<template>
  <div class="space-y-5 mt-5">
    <div class="text-2xl font-semibold">
      Trash
    </div>
    <div class="">
      <div class="bg-white rounded-2xl overflow-hidden shadow border">
        <table class="min-w-full table">
          <thead>
            <tr>
              <th>
                <div class="text-left">
                  Title
                </div>
              </th>
              <th>Category</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody v-if="data.length>0" class="divide-y">
            <tr v-for="i,index in data" :key="index">
              <td>
                <div class="text-left">
                  {{ i.title }}
                </div>
              </td>
              <td>{{ i.category }}</td>
              <td>
                <div class="flex items-center justify-center gap-2">
                  <NuxtLink :to="{name: 'article-update-id', params:{id: i.id}}" class="p-2 rounded-xl shadow bg-sky-500 text-white hover:bg-opacity-60 transition-all ease-in-out">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                      <path d="M5.433 13.917l1.262-3.155A4 4 0 017.58 9.42l6.92-6.918a2.121 2.121 0 013 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 01-.65-.65z" />
                      <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0010 3H4.75A2.75 2.75 0 002 5.75v9.5A2.75 2.75 0 004.75 18h9.5A2.75 2.75 0 0017 15.25V10a.75.75 0 00-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5z" />
                    </svg>
                  </NuxtLink>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td colspan="3">
                Empty
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TrashArticle',
  data () {
    return {
      data: []
    }
  },
  async fetch () {
    this.data = await this.$axios.$get('article/', { params: { status: 'trash' } })
  }
}
</script>
