@tailwind base;
@tailwind components;
@tailwind utilities;

.nav.nuxt-link-active {
  @apply bg-stone-300 font-semibold
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

table.table th {
    @apply px-4 py-2 text-xs uppercase bg-stone-400 text-white
}

table.table td {
    @apply px-4 py-2 text-sm text-center
}